<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="widget-body no-padding">
            <form id="config-form" class="form-commonsearch form-horizontal " role="form" data-toggle="validator" method="POST" action="">
                {:token()}
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">业务下标：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        <input type="text" data-rule="required" class="form-control" name="row[name]" value="{$row.name}" placeholder="由channel和product组成：channel_product。product为空时：channel_">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">标题：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        <input type="text" data-rule="required" class="form-control" name="row[title]" value="{$row.title}" placeholder="标题">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">渠道号：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        <input type="text" data-rule="required" class="form-control" name="row[channel_id]" value="{$row.channel_id}" placeholder="渠道号">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">通道：</label>
                     <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                         <select class="selectpicker" data-live-search="true" name="row[sp_info_id]" data-rule="required">
                             <option value="">请选择</option>
                              {foreach name="spList" item="vo"}
                              <option value="{$vo.id}" {$row.sp_info_id==$vo.id?'selected':''}>{$vo.sp_name}</option>
                              {/foreach}
                         </select>
                     </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">短链域名：</label>
                     <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                            {:build_select('row[domain_short]',$domainList,$row.domain_short,['class'=>'form-control selectpicker','data-live-search'=>'true','data-rule'=>'required'])}
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">短信文案：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        <textarea class="form-control" rows="3" name="row[sms_content]" data-rule="required">{$row.sms_content}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">城市黑名单：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        <textarea class="form-control" rows="3" name="row[city]" >{$row.city}</textarea>
                    </div>
                    <span>以  |  分割</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">发送时间区间：</label>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <input type="text" class="form-control datetimepicker" name="row[send_start_time]" value="{$row.send_start_time}" data-date-format="HH:mm:ss" data-date-use-strict="true" data-date-side-by-side="true" data-rule="required">
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <input type="text" class="form-control datetimepicker" name="row[send_end_time]" value="{$row.send_end_time}" data-date-format="HH:mm:ss" data-date-use-strict="true" data-date-side-by-side="true" data-rule="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">自动状态：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        {:build_radios('row[send_status]',['1'=>'开启','2'=>'关闭'],$row.send_status)}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">类型：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        {:build_checkboxs('row[timely_type][]',$typeArr,$row.timely_type)}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2 col-md-2	col-lg-2">加密类型：</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                        {:build_radios('row[timely_encrypt_type]',['0'=>'不加密','1'=>'AES加密','2'=>'通用AES加密'],$row.timely_encrypt_type)}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-lg-offset-1 col-xs-offset-1 col-md-offset-1">
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>